__pycache__/
*.py[cod]
*.sqlite
*.db
*.log
*.pid
*.pyc
venv/
.var/
var/
.git/
.gitignore
README.md~
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log
**/*.sqlite
**/*.db
**/*.pid
**/*.tmp
build/
dist/
.eggs/
*.egg-info/
.DS_Store
.idea/
.vscode/
